<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<div class="form-container">
		<h2>Welcome, <%= username %>!</h2>
		<form action="/logout" method="post">
			<button type="submit" class="red">Logout</button>
		</form>
	</div>
</body>
</html>
